  <footer>

        <div class="social">
            <h3>CORNEY BAKERY</h3 <div class="social-media">
            <a href="!"> <img src="photo/apple_button.png" alt="" class="media"> </a>
            <a href="!"> <img src="photo/android_button.png" alt="" class="media"> </a>
            <a href="!"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
            <a href="!"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
            <a href="!"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
        </div>


        </div>
        <div class="policies">
            <div>
                <a href="$"> Privacy Policy |</a>
                <a href="$"> Careers | </a>
                <a href="$"> About | </a>
                <a href="$"> Contact Us | </a>
                <a href="$"> Media and Press Inquiries | </a>
                <a href="$"> Accessibility | </a>
                <a href="$"> Site Map | </a>
                <a href="$"> Franchise | </a>
                <a href="$"> Donations | </a>
                <a href="$"> Gift Cards | </a>
                <a href="$"> Partnerships | </a>
                <a href="$"> California Privacy Notice | </a>
                <a href="$"> Do Not Sell My Personal Information </a>
            </div>
        </div>
        <div class="rights">
            Design by @ GautamKJ
        </div>
    </footer>