
    <div class="navmenu">
        <nav class="navbar">
            <div class="logo"> <a href="index"> <img src="photo/logo.png" alt="GautamKJ-Cafe"></a></div> -->
            <ul class="navigation">
                <li><a href="index">Home</a></li>
                <li><a href="menu">Menu</a></li>
                <li><a href="cart">Cart</a></li>
                <li><a href="login">{{Login}}</a></li>
            </ul>
            <div class="order-now">
                <a href="#"><img src="photo/order_image.png" alt="order-now"></a>
            </div>

        </nav>
    </div>
    <!-- ..................................................................................................................................... -->
    <!-- Navbar For mobile  -->
    <div class="nav-mobile">
        <nav class="navbar">
            <div class="logo"> <a href="index"> <img src="photo/logo.png" alt="GautamKJ-Cafe"></a></div>

            <div class="order-now">
                <a href="#"><img src="photo/order_image.png" alt="order-now"></a>
            </div>

        </nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fa fa-bars" aria-hidden="true" id="btn"></i>

        </label>
        <div class="sidebar">
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="menu">Menu</a></li>
                <li><a href="cart">Cart</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </div>
    </div>

