
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>


   {{>navbar}}
    <!-- -------------------------------------------------------------------------------------------------------------------------------------- -->


    <div class="profile_container">
        <div class="profile_sideslide">
            <div class="profile-pic-div">
                <img src="photo/Gautam.jpg" id="photo">
                <input type="file" id="file">
                <label for="file" id="uploadBtn">Choose Photo</label>
            </div>

            <ul class="profile_navbar">
               <li> <a href="https://dashboard.razorpay.com/app/dashboard">Dashboard</a> </li>
                <li> <a href="adminMenu">Menu</a> </li>
                <li> <a href="adminOrder">Order</a> </li>
                <li> <a href="addProduct">Add Product</a> </li>
                  <li> <a href="adminAbout">About</a> </li>
                
            </ul>
</div>
            <div class="admin_homePage">
                <img src="photo/adminPage.jpg" alt="">    
            </div>
        </div>

        
    

    {{>footer}}
    <script src="index.js"></script>

</body>

</html>