<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORNER BAKERY</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
{{>navbar}}
    <!-- ..................................................................................................................................... -->
    <div class="image-slider">
        <div class="bg1"><img src="photo/bg2.png" alt="background-image">
            <p class="bg1-center">ORDER NOW</p>
        </div>
    </div>
    <!-- ..................................................................................................................................... -->

    <div class="about">
        <div class="content1">
            <div class="image">
                <img src="photo/car-image.png" alt="">
                <img src="photo/car-image.png" alt="">
            </div>
            <div class="written">
                <h2>Fresh. Flavorful. Delivered.</h2>
                <h3>Corner Bakery is here to brighten your day with kitchen-crafted, artisan-inspired food, made by real
                    cooks, for breakfast, lunch & dinner. Enjoy all your favorites safely delivered right to your door.
                </h3>
            </div>
        </div>
        <div class="content2">
            <p class="right">ORDER NOW</p>
        </div>
    </div>

    <!-- ..................................................................................................................................... -->

    <div class="both-side">
        <div class="left-side"><img src="photo/left.png" alt="order_image"></div>
        <div class="say-more">
            <h1>Crafted, Convenient Catering for Any Occasion.</h1>
            <h3>Corner Bakery Catering blends the convenience you love with the flavors you crave. Individually packaged
                items and contact free delivery available!</h3>
            <p class="right">ORDER NOW</p>
        </div>
    </div>
    <!-- ..................................................................................................................................... -->
{{>footer}}
</body>

</html>