<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORNER BAKERY Menu</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        </head>

<body>
    {{>navbar}}
    <!-- ..................................................................................................................................... -->
    <div class="success" role="alert">
        Successfully Added to cart
    </div>
    <div class="danger" role="alert">
        Already Added in cart
    </div>

    <div class="container">

        <div class="box">
            <div class="side-menu"></div>
            <div class="menu-icon"><img src="photo/menu.png" alt=""></div>
            <div class="menu-list">
                <div class="morning">
                    <h1>MORNING FAVORITES</h1>
                    <div class="cards">
                        <h3>BUTTERMILK PANCAKES (610 ₹) <i class="fa fa-camera-retro" aria-hidden="true"></i> <i
                                class="fa fa-cart-plus" aria-hidden="true" title="Add to Cart"></i>
                        </h3>
                        <p>four fluffy buttermilk pancakes with butter & vanilla maple syrup</p>
                        <div class="dish-img">

                            <img src="photo/dish.jpg" alt="BUTTERMILK PANCAKES" id="myImg">
                            <span class="btn">
                                <img src="photo/modal_close_icon.png" alt="" class="close-btn">
                            </span>
                        </div>
                    </div>
                    <div class="cards">
                        <h3>BUTTERMILK PANCAKES WITH BACON (770 ₹) <i class="fa fa-camera-retro" aria-hidden="true"></i>
                            <i class="fa fa-cart-plus" aria-hidden="true"></i> </h3>
                        <p>four fluffy buttermilk pancakes with a side of bacon</p>
                        <div class="dish-img">
                            <img src="photo/dish.jpg" alt="BUTTERMILK PANCAKES">
                            <span class="btn">
                                <img src="photo/modal_close_icon.png" alt="" class="close-btn">
                            </span>
                        </div>
                    </div>
                    <div class="cards">
                        <h3>BUTTERMILK PANCAKES WITH BACON & SCRAMBLED EGGS (1010 ₹) <i class="fa fa-camera-retro"
                                aria-hidden="true"></i> <i class="fa fa-cart-plus" aria-hidden="true"> </i> </h3>
                        <p>our fluffy pancakes with bacon and scrambled eggs</p>
                        <div class="dish-img">
                            <img src="photo/dish.jpg" alt="BUTTERMILK PANCAKES">
                            <span class="btn">
                                <img src="photo/modal_close_icon.png" alt="" class="close-btn">
                            </span>
                        </div>
                    </div>
                    <div class="cards">
                        <h3>POWER BREAKFAST EGG BOWL (600 ₹) <i class="fa fa-camera-retro" aria-hidden="true"></i> <i
                                class="fa fa-cart-plus" aria-hidden="true"></i>
                        </h3>
                        <p>scrambled eggs, ancient grains, chickpeas, oven-roasted tomato, fresh mozzarella, pesto*,
                            power greens, toast</p>
                        <div class="dish-img">
                            <img src="photo/dish.jpg" alt="BUTTERMILK PANCAKES">
                            <span class="btn">
                                <img src="photo/modal_close_icon.png" alt="" class="close-btn">
                            </span>
                        </div>
                    </div>


                </div>

                <div class="breakfast">
                    <h1>BREAKFAST SANDWICHES</h1>
                    <div class="cards">
                        <h3>BBLT & EGG SANDWICH (840 ₹) <i class="fa fa-camera-retro" aria-hidden="true"></i> <i
                                class="fa fa-cart-plus" aria-hidden="true"></i></h3>
                        <p>scrambled eggs, bacon, tomato, lettuce, black pepper balsamic aioli, white toast</p>
                        <div class="dish-img">
                            <img src="photo/breakfast.jpg" alt="BUTTERMILK PANCAKES">
                            <span class="btn">
                                <img src="photo/modal_close_icon.png" alt="" class="close-btn">
                            </span>
                        </div>
                    </div>
                    <div class="cards">
                        <h3>ANAHEIM PANINI (590 ₹) <i class="fa fa-camera-retro" aria-hidden="true"></i> <i
                                class="fa fa-cart-plus" aria-hidden="true"></i> </h3>
                        <p>four fluffy buttermilk pancakes with a side of bacon</p>
                        <div class="dish-img">
                            <img src="photo/breakfast.jpg" alt="BUTTERMILK PANCAKES">
                            <span class="btn">
                                <img src="photo/modal_close_icon.png" alt="" class="close-btn">
                            </span>
                        </div>
                    </div>
                    <div class="cards">
                        <h3>BACON & CHEDDAR PANINI (620 ₹) <i class="fa fa-camera-retro" aria-hidden="true"></i> <i
                                class="fa fa-cart-plus" aria-hidden="true"></i> </h3>
                        <p>scrambled eggs, bacon, cheddar, grilled sourdough</p>
                        <div class="dish-img">
                            <img src="photo/breakfast.jpg" alt="BUTTERMILK PANCAKES">
                            <span class="btn">
                                <img src="photo/modal_close_icon.png" alt="" class="close-btn">
                            </span>
                        </div>
                    </div>


                </div>
                <div class="soup">
                    <h1>SOUPS</h1>
                    <div class="cards">
                        <h3>CHICKEN ORZO (360 ₹) <i class="fa fa-camera-retro" aria-hidden="true"></i> <i
                                class="fa fa-cart-plus" aria-hidden="true"></i> </h3>
                        <div class="dish-img">
                            <img src="photo/soup.jpg" alt="BUTTERMILK PANCAKES">
                            <span class="btn">
                                <img src="photo/modal_close_icon.png" alt="" class="close-btn">
                            </span>
                        </div>

                    </div>
                    <div class="cards">
                        <h3>LOADED BAKED POTATO (430 ₹) <i class="fa fa-camera-retro" aria-hidden="true"></i> <i
                                class="fa fa-cart-plus" aria-hidden="true"></i>
                        </h3>
                        <div class="dish-img">
                            <img src="photo/soup.jpg" alt="BUTTERMILK PANCAKES">
                            <span class="btn">
                                <img src="photo/modal_close_icon.png" alt="" class="close-btn">
                            </span>
                        </div>

                    </div>
                    <div class="cards">
                        <h3>ROASTED TOMATO BASIL (180 ₹) <i class="fa fa-camera-retro" aria-hidden="true"> </i> <i
                                class="fa fa-cart-plus" aria-hidden="true"></i>
                        </h3>
                        <div class="dish-img">
                            <img src="photo/soup.jpg" alt="BUTTERMILK PANCAKES">
                            <span class="btn">
                                <img src="photo/modal_close_icon.png" alt="" class="close-btn">
                            </span>
                        </div>

                    </div>
                    <div class="cards">
                        <h3>CHICKEN NOODLE (190 ₹) <i class="fa fa-camera-retro" aria-hidden="true"> </i> <i
                                class="fa fa-cart-plus" aria-hidden="true"></i>
                        </h3>
                        <div class="dish-img">
                            <img src="photo/soup.jpg" alt="BUTTERMILK PANCAKES">
                            <span class="btn">
                                <img src="photo/modal_close_icon.png" alt="" class="close-btn">
                            </span>
                        </div>

                    </div>


                </div>

                <div class="drink">
                    <h1>DRINKS</h1>
                    <div class="cards">
                        <h3>HAND-ROASTED COFFEE (100 ₹) <i class="fa fa-camera-retro" aria-hidden="true"></i> <i
                                class="fa fa-cart-plus" aria-hidden="true"></i>
                        </h3>
                        <div class="dish-img">
                            <img src="photo/drink.jpg" alt="BUTTERMILK PANCAKES">
                            <span class="btn">
                                <img src="photo/modal_close_icon.png" alt="" class="close-btn">
                            </span>
                        </div>

                    </div>
                    <div class="cards">
                        <h3>ICED COFFEE (150 ₹) <i class="fa fa-camera-retro" aria-hidden="true"></i> <i
                                class="fa fa-cart-plus" aria-hidden="true"></i>
                        </h3>
                        <div class="dish-img">
                            <img src="photo/drink.jpg" alt="BUTTERMILK PANCAKES">
                            <span class="btn">
                                <img src="photo/modal_close_icon.png" alt="" class="close-btn">
                            </span>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>



    </div>

    {{>footer}}

    <script src="index.js"></script>
   
</body>

</html>