<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>


    <div class="navmenu">
        <nav class="navbar">
            <div class="logo"> <a href="index"> <img src="photo/logo.png" alt="GautamKJ-Cafe"></a></div> -->
            <ul class="navigation">
                <li><a href="index">Home</a></li>
                <li><a href="menu">Menu</a></li>
                <li><a href="cart">Cart</a></li>
                <li><a href="login">Login</a></li>
            </ul>
            <div class="order-now">
                <a href="#"><img src="photo/order_image.png" alt="order-now"></a>
            </div>

        </nav>
    </div>
    <!-- ..................................................................................................................................... -->
    <!-- Navbar For mobile  -->
    <div class="nav-mobile">
        <nav class="navbar">
            <div class="logo"> <a href="index"> <img src="photo/logo.png" alt="GautamKJ-Cafe"></a></div>

            <div class="order-now">
                <a href="#"><img src="photo/order_image.png" alt="order-now"></a>
            </div>

        </nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fa fa-bars" aria-hidden="true" id="btn"></i>

        </label>
        <div class="sidebar">
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="menu">Menu</a></li>
                <li><a href="cart">Cart</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </div>
    </div>
    <!-- -------------------------------------------------------------------------------------------------------------------------------------- -->

    <div class="menu-list">
        


        </div>
<script src="index.js"></script>