<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORNER BAKERY Cart</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

 {{>navbar}}

<div class="payment-box">
    <div class="change-details">
        <div class="payment-address">
            <p>Your current Location:</p>
            Laheriasarai ,Darbhanga <a href="@">Change</a>
        </div>
        <div class="payment-number">
            <p>Your current Mob number</p>
            8912983001 <a href="@">Change</a>
        
    </div>
    </div>
    <div class="upi">
        <img src="photo/phonepe.jpg" alt="">
    </div>
    </div>




  {{>footer}}

</body>

</html>
